.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
  }
  
  .material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
  }
  
  mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
    color: whitesmoke;
  }
  .example-full-width{
    margin-left: 10px;
  }
  .submit {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin-left: 10px;
  }
  .adr{
    width: 622px;
    margin-left: 10px;
  }
  @media(min-width:720px)and (max-width:850px) {
  
    #main_area {
      width: 440px;
    }
    .adr{
      width: 412px;
      margin-left: 10px;
    }
  
  }
  
  @media(min-width:866px)and (max-width:2000px) {
    #main_area{
      width: 655px;
    }
    
  }
  @media(min-width:520px)and (max-width:719px) {
    #main_area {
      width: 355px;
    }
    .adr{
      width: 333px;
      margin-left: 10px;
    }
    mat-form-field {
      width: 160px;
    }

  }

  @media(max-width:519px) {
    #main_area {
      width: 224px;
    }
    mat-form-field {
      margin-left: 10px;
    }
    .box {
      width: 145px;
    }
    .adr{
      width: 198px;
      margin-left: 10px;
    }
  
    .gender {
      font-size: 8px;
    }
  
  
  }
  
  