.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
  }
  
  .material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
  }
  
  mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
   
  }
  .example-full-width{
    margin-left: 10px;
  }
  .submit {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin-left: 10px;
  }
  .adr{
    width: 840.4px;
    margin-left: 10px;
    
  }
  @media (max-width:1115px) {

    .adr{
      width: 412.4px;
      margin-left: 60px;
      
    }
  }
  @media (max-width:2000px) {

    .adr{
      width: 412.4px;  
      margin-left: 35px;
      
    }
    #main_area{
      width: 459px;
      margin-left: 24px;
    }
    .box{
      width: 530px;
      
    }
  
    
  }

 
  @media (max-width:657px) {
    #main_area{
      width: 425px;
   
    }
    .box{
      width: 425px;
      margin-left: -20px;
    }
    .adr{
    width: 415.4px;
    margin-left: 13px;

    }

  }
  
  @media (max-width:587px) {
    .adr{
      width: 298px
    }
    #main_area{
      width: 300px;
    }
    .box{
      width: 230px;
      
    }
   
    .example-full-width{
      width: 290px;
    }
  }
  @media (max-width:461px) {
    .adr{
      width: 240px;
     margin-left: 7px;
    }
    #main_area{
      width: 235px;
      margin-left: 25px;
    }
    .box{
      width: 260px;
      
    }
    .example-full-width{
      width: 240px;
      margin-left: 3px;
    }
   
    
  }
  