<mat-toolbar>
    <span class="example-spacer">Add Item</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="item_form">
    <div id="main_area">
        <div class="box">

            
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Category</mat-label>
                <mat-select placeholder="Enter Category" formControlName="category_id_fk">
                    <mat-option value="Drup" *ngFor="let category of category_data" [value]="category.cat_id">{{category.cat_name}}</mat-option></mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="item_name" placeholder="Enter Name">
            </mat-form-field>
           
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Company</mat-label>
                <input matInput formControlName="company" placeholder="Enter Company Name">
            </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Unit</mat-label>
            <mat-select formControlName="unit_id_fk" placeholder="Enter Unit">
                <mat-option value="rate" *ngFor="let unit of unit_data" [value]="unit.unit_id">{{unit.unit_name}}</mat-option></mat-select>
        </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Weight</mat-label>
                <mat-select formControlName="weight_id_fk" placeholder="Enter Weight">
                    <mat-option value="1" *ngFor="let weight of weight_data" [value]="weight.weight_id">{{weight.weight}}</mat-option>
                </mat-select>
            </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pack</mat-label>
            <input matInput formControlName="pack" placeholder="Enter Pack">
        </mat-form-field>
                   
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>HSN No</mat-label>
            <input matInput formControlName="hsn_no" placeholder="Enter HSN No">
        </mat-form-field>
            
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>MRP</mat-label>
            <input matInput type="number" formControlName="mrp" placeholder="Enter MRP">
        </mat-form-field>
        

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Purchase amount</mat-label>
                <input matInput type="number" formControlName="purchase_amount" placeholder="Enter Purchase amount">
            </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sale amount</mat-label>
            <input matInput  type="number"  formControlName="sale_amount" placeholder="Enter Sale_amount">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" class="Description">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Enter Description">
        </mat-form-field>

 

        </div>
        <div class="submit">
            <button mat-raised-button color="warn" (click)="add_item_reset()" *ngIf="!add_item">Reset</button>
            <button mat-raised-button color="primary"(click)="onsubmit()">{{actionBtn}}</button>
        </div>
    </div>
    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
    <input type="number" formControlName="item_id" readonly hidden>
</form>

