<div class="head">
    <span>Cancell bill list  </span>
    <!-- <mat-icon id="add_course" (click)="add_party()">add_circle</mat-icon> -->
  </div>
  <div class="count_area">
    <span class="notice_text">Total : 15</span>
    <div class="search">
      <input type="text" placeholder="Search" class="search_box" matInput (keyup)="applyFilter($event)" #input>
    </div>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
        <td mat-cell *matCellDef="let row; let i = index">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Party">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Party</th>
        <td mat-cell *matCellDef="let row"> {{row.Party}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Basic_amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic Amount</th>
        <td mat-cell *matCellDef="let row"> {{row.Basic_amount}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
        <td mat-cell *matCellDef="let row"> {{row.Discount}} </td>
      </ng-container>
  
      <ng-container matColumnDef="sgst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SGST</th>
        <td mat-cell *matCellDef="let row"> {{row.sgst}}</td>
      </ng-container>

      <ng-container matColumnDef="cgst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CGST</th>
        <td mat-cell *matCellDef="let row"> {{row.cgst}}</td>
      </ng-container>

      <ng-container matColumnDef="ro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>R/O</th>
        <td mat-cell *matCellDef="let row"> {{row.ro}}</td>
      </ng-container>
 
      <ng-container matColumnDef="net_amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Amount</th>
        <td mat-cell *matCellDef="let row"> {{row.net_amount}}</td>
      </ng-container>

      <ng-container matColumnDef="Bill_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Number</th>
        <td mat-cell *matCellDef="let row"> {{row.Bill_number}}</td>
      </ng-container> 

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon style="cursor: pointer;" (click)="purchase_edit(row)">edit</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tbl_hight"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tbl_hight"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9" style="color:silver;">No record found"{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>