<div class="head">
    <span>Employee Details</span>
    <mat-icon id="add_employee" (click)="add_employee()">add_circle</mat-icon>
  </div>
  <div class="count_area">
    <span class="notice_text">Total : {{employee_data}}</span>
    <div class="search">
      <input type="text" placeholder="Search" class="search_box" matInput (keyup)="applyFilter($event)" #input>
    </div>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="emp_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
        <td mat-cell *matCellDef="let row; let i = index">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
      </ng-container>
  
      <ng-container matColumnDef="emp_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row"> {{row.emp_name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
        <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
      </ng-container>

      <ng-container matColumnDef="aadhar_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhar number</th>
        <td mat-cell *matCellDef="let row"> {{row.aadhar_number}}</td>
      </ng-container>

      <ng-container matColumnDef="photo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Photo</th>
        <td mat-cell *matCellDef="let row"> <img src="{{upload_img_url}}{{row.photo}}" class="uplode_photo" width="80px" height="80px"></td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>address</th>
        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
      </ng-container>
  
     
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon style="cursor: pointer;" (click)="employee_edit(row)">edit</mat-icon>&nbsp;
          <!-- <mat-icon style="cursor: pointer;" (click)="delete_employee(row)">delete</mat-icon> -->
          <mat-icon style="cursor: pointer;" (click)="openDialog(row)">delete</mat-icon>

        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tbl_hight"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tbl_hight"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9" style="color:silver;">No record found"{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>