.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
  }
  
  .material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
  }
  
  mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
    color: whitesmoke;
  }
  .example-full-width{
    margin-left: 10px;
  }
  .submit {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin-left: 10px;
  }
  .adr{
   
    width: 624.4px;
    margin-left: 9px
  }
  .main_area{
    width: auto;
  }
 
  @media (max-width:2000px) {
  #main_area{
    width: 660px;
    display: flex;
    margin-left: -35px;
  }
  .box{
    width: 660px;
    margin-left: 26px;
  }
}
  @media (max-width:943px) {
    #main_area{
      width: 443px;
      display: flex;
    }
    .box{
      width: 443px;
      margin-left: 21px;
    }
    .adr{
      width: 410.4px;
      margin-left: 9px;
    }
    
  }

  @media (max-width:656px) {
   
    #main_area{
      width: 300px;
      height: 500px;
      margin-left: -13px;
      
    }
    .box{
      width: 230px;
      margin-left: 4px;
     
      
    }
    .adr{
      width: 291px;
    }

    .example-full-width{
      width: 290px;
    }
    .submit {
      position: relative;
      margin-left: 62px;
      border-bottom: 15px solid white;
        }
  
  }
   @media (max-width:467px) {
   
    #main_area{
      width: 245px;
    }
    .box{
      width: 260px;
    }
   .submit {
      position: relative;
      margin-left: -5px;
    }
    .example-full-width{
      width: 230px;
      
    }
    .adr{
      width: 240px;
      margin-left: 3px;
    }
    
  } 
  