.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
  }
  
  .material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
  }
  
  mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
    color: whitesmoke;
  }
  .example-full-width{
    margin-left: 10px;
  }
  .submit {
    margin-left: 9.6em;
  }
  
  button {
    margin-left: 10px;
  }
  
  @media (max-width:587px) {
  
    #main_area{
      width: 330px;
    }
    .box{
      width: 230px;
      
    }
    .submit {
      margin-left: 4.8em;
    }
    .example-full-width{
      width: 290px;
    }
  }
  @media (max-width:420px) {

    #main_area{
      width: 245px;
    }
    .box{
      width: 260px;
      
    }
    .example-full-width{
      width: 240px;
      margin-left: 3px;
    }
    .submit {
      margin-left: 2.8em;
    }
    
  }
  
  