.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
  }
  
  .material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
  }
  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 11px;
}
  
  mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
    color: whitesmoke;
  }

  .submit {
   display: flex;
   justify-content: center;
   margin-left: -13px;
  }
  
  button {
    margin-left: 10px;
  }
  #main_area{
    width: 419px;
    margin-left: -10px;

  }
  .box{
    margin-left: -5px;
  }
  .add_gst{
    cursor: pointer;
  }
  
  
  @media (max-width:420px) {
  
    #main_area{
      width: 230px;
      
    }
    .box{
      width: 230px;
      margin-left: 10px;
      
    }
  }
  @media (max-width:587px) {

    #main_area{
      width: 245px;
    }
    .box{
      width: 260px;
      margin-left: 4px;
      
    }
    .example-full-width{
      width: 240px;
      margin-left: 3px;
    }
  
    
  }
  
  