<div class="head">
  <span>Sale Details</span>
  <mat-icon id="add_sale" (click)="add_sale()">add_circle</mat-icon>
</div>
<div class="count_area">
  <span class="notice_text">Total : 10</span>
  <div class="search">
    <input type="text" placeholder="Search" class="search_box" matInput (keyup)="applyFilter($event)" #input>
  </div>
</div>
 
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
      <td mat-cell *matCellDef="let row; let i = index">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
      <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
    </ng-container>

    <ng-container matColumnDef="Bill_Number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Number</th>
      <td mat-cell *matCellDef="let row"> {{row.Bill_Number}}</td>
    </ng-container>

    <ng-container matColumnDef="Totel_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Totel amount</th>
      <td mat-cell *matCellDef="let row"> {{row.Totel_amount}}</td>
    </ng-container>

    <ng-container matColumnDef="Basic_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic amount</th>
      <td mat-cell *matCellDef="let row"> {{row.Basic_amount}} </td>
    </ng-container>

    <ng-container matColumnDef="Dues">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dues</th>
      <td mat-cell *matCellDef="let row"> {{row.Dues}} </td>
    </ng-container>

    <ng-container matColumnDef="gst">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GST</th>
      <td mat-cell *matCellDef="let row"> {{row.gst}} </td>
    </ng-container>


    <ng-container matColumnDef="Discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
      <td mat-cell *matCellDef="let row"> {{row.Discount}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row"> {{row.date}}</td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon style="cursor: pointer;" (click)="edit_sale(row)">edit</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tbl_hight"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tbl_hight"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9" style="color:silver;">No record found"{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>