.example-spacer {
  flex: 1 1 auto;
  margin-bottom: 20px;
  color: #1d1f23;
  font-size: 18px;
}

.butto{
  background-color: #343a40;
  color: white;
  border-radius: 7px;
  margin-left: 1px;

}
.butt{
  background-color: #343a40;
  color: white;
  border-radius: 7px;
  float: right;
}
#bill{
 position: absolute;
 right: 20px;
 top: 62px;
}
.butt:hover{
  background: rgb(72, 88, 104);
}
.butto:hover{
  background: rgb(72, 88, 104);
}
.nav-tabs .nav-link.active{
  background-color: #063769;
  color: white;
}
.material-icons {
  color: #1d1f23;
  margin-bottom: 20px;
}

mat-toolbar {
  height: 30px;
  padding: 0px;
  background: none;
  position: relative;
  color: whitesmoke;
}
.example-full-width{
  margin-left: 10px;
}
.submit {
  display: flex;
  justify-content: center;
  margin-left: -145px;
}
.submit2 {
  display: flex;
  justify-content: center;
  margin-right: 71px;

}
.submit1 {
  display: flex;
  justify-content: center;
  margin-right: 79px;
  
 }
 


button {
  margin-left: 10px;
}
/* .box{
  margin: 20px;
} */

 @media(min-width:720px)and (max-width:850px) {

  #main_area {
    width: 440px;
    width: auto;
    display: table;
    margin: 45px auto;
  }
  .adr{
    width: 412px;
    margin-left: 10px;
  }

   
 
}

@media(min-width:866px) {
  #main_area{
    margin-top: 57px;
    width: 870px;

  }
  #main_area1{
    width: auto;
    display: flex;
    justify-content: center;
  }
  /* #bill{
    margin: 0px 3px -7px 65.3%;
  } */
  .mt-2 {
   
    margin-left: 3.5rem;
    display: flex;
  }
    .adr1{
      width: 834px;
      margin-left: 10px;
    }
}

@media(min-width:720px)and (max-width:920px) {

 
  
  .mt-2 {
    margin-left: 2.1rem;
    display: flex;
}
 #main_area {
      width: 455px;
    }
   .adr1{
      width: 413px;
      margin-left: 10px;
    }
}
@media(min-width:630px) {

}

@media(max-width:540px) {
  #main_area {
    width: 274px;
    margin-top: 10px;
  }
  #main_area1 {
    width: 224px;
  
  }
  .submit{
    display: flex;
    margin-left: 178px;
  
    
  }


  .example-full-width {
    width: 292px;
    margin-left: 40px;
}
  

  .mt-2 {
   
    display: flex;
  }

  .box {
    margin-left: 64px;
    width: 145px;
  }
  .adr1{
    width: 292px;
    margin-left: 40px;
 
  }

  .gender {
    font-size: 8px;
  }


}
@media(max-width:440px) {
  #main_area1 {
    width: 224px;
    margin-top: 10px;
    margin-left: -39px;
  }
  #main_area {
    width: 224px;
    margin-top: 10px;
    margin-left: -39px;
  }
  .box{
    margin-left: 62px;
    width: 145px;
}
.submit{
  margin-left: 94px;
}
.submit1{
  margin-left: 94px;
}
.submit2{
  margin-left: 132px;
}
  .example-full-width {
    width: 220px;
    margin-left: 40px;
}
.adr1{
  width: 220px;
  margin-left: 40px;

}


}

